:root {
    --bg-second: #ABE188;
    --bg-primary: #2E332D;
    --link-color: #FF7B9C;
}

body {
    background-color: var(--bg-primary);
}

#nav {
    background-color: var(--bg-second);
}

.light-green {
    background-color: var(--bg-second);
}

#shopping-cart {
    width: 2%;
    color: white;
}

.card {
    background-color: var(--bg-primary);
    border: 1px solid var(--bg-second)
}

form {
    color: white;
}

.toast-header {
    background-color: var(--bg-second);
}

.toast-body {
    background-color: var(--bg-primary);
}